<div class="container">
  <form [formGroup]="stuForm">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">姓名</label>
      <div class="col-sm-4">
        <input type="text" formControlName="name" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">學號(1~99)</label>
      <div class="col-sm-4">
        <input type="number" formControlName="stuid" class="form-control">
      </div>
    </div>
  </form>

  <div class="container">
    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-outline-primary" (click)="add('18药剂2班')" [disabled]="!stuForm.valid">18药剂2班add</button>
      <button type="button" class="btn btn-outline-danger"  (click)="del('18药剂2班')" [disabled]="!stuForm.valid">18药剂2班del</button>
      <button type="button" class="btn btn-outline-primary" (click)="add('18护理5班')" [disabled]="!stuForm.valid">18护理5班add</button>
      <button type="button" class="btn btn-outline-danger"  (click)="del('18护理5班')" [disabled]="!stuForm.valid">18护理5班del</button>
      <button type="button" class="btn btn-outline-primary" (click)="add('18护理6班')" [disabled]="!stuForm.valid">18护理6班add</button>
      <button type="button" class="btn btn-outline-danger"  (click)="del('18护理6班')" [disabled]="!stuForm.valid">18护理6班del</button>
    </div>
  </div>
